# ArveVM;   ignore superduper secret files from upload to GitHub

# make sure to ignore any of these files no matter where they are using double *
**automations.yaml
**google_calendars.yaml
**secrets.yaml
**scripts.yaml
**scenes.yaml
**lovelace_test3.yaml
**mobile-lovelace1.yaml
**harmony_12427489.conf
**home-assistant.log
**home-assistant.log.fault
**home-assistant.log.1
**home-assistant_v2.db
**home-assistant_v2.db-wal
**home-assistant_v2.db-shm

view*

#---------------------------------------------------------
# ignore hidden folders
/.cloud
/.ssh
/.storage

# ignore unifinished part of my own code
/avm_yaml/_templ
#/avm_yaml/dashboard
card_alert*
card_room*

chip_ha*
nordpool*
priceanalyzer_01*
room__*
*view*
dashboard_mob*
/avm_yaml/entities
/avm_yaml/packages/addon
/avm_yaml/packages/solutions_draft
/avm_yaml/packages/integrations_draft
/esphome

# ignore blueprints and components installed
/blueprints
/custom_components

# ignore test-esp's
**test1-esp32-38.yaml
**test2022-09-11.yaml



/node-red
/themes
/tts/
/ui_lovelace_minimalist
/www/
/zigbee2mqtt/

**.7z
!.gitignore

/config/.google.token

secrets_google_assistant**


avm_yaml/blablabla/project_queue.md
avm_yaml/dashboard/cards/chip_cameras.yaml
.vscode/settings.json
avm_yaml/dashboard/cards/chip_heater_about.yaml
avm_yaml/dashboard/cards/hotwater_temp_card.yaml
avm_yaml/dashboard/cards/laundry_heater_card.yaml
avm_yaml/dashboard/cards/hotwater_temp2_card.yaml
avm_yaml/dashboard/cards/power_usage_card.yaml
